.pricing__item {
  -webkit-flex: 1 1 300px;
  flex: 1 1 300px;
  transition: flex 0.3s;
}
.tile .price {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 27px;
  padding: 0px 14px;
  background-color: #9E9E9E;
  color: #fff;
  font-size: 1.4rem;
}

.tile .price {
  position: absolute;
  right: 35px;
  bottom: 25px;
  z-index: 998;
}
[class*="linearicons-"]::before {
  font-family: "linearicons" !important;
  width: 30px;
  height: 30px;
  font-weight: 300 !important;
  line-height: 0em;
  margin: 0 5px;
}
.linearicons-home::before {
  content: "\e800";
}
.linearicons-home2::before {
  content: "\e844";
}
.linearicons-outdoor::before {
  content: "\e807";
}
.linearicons-fitness::before {
  content: "\e850";
}
.linearicons-tools::before {
  content: "\e845";
}
.linearicons-specials::before {
  content: "\e814";
}
[class*="opt-"] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: pointer;
}
.badge3::before {
  content: url(/img/favorite_sm.png);
  position: absolute;
  z-index: 1;
  left: 4px;
  top: -10px;
}
