@media screen and (min-width:800px) {
  .pricing__item {
    -webkit-flex: 0 1 300px;
    flex: 0 1 300px;
  }
}
@media screen and (min-width:991px) {
  .pricing__item {
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px;
  }

  .pricing--details .pricing__feature-list {
    margin: 85px 20px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    width: 45%;
    height: 400px;
    overflow: auto;
  }
}
  .pricing--details .pricing__image {
    width: 312px;
    height: 312px;
  }

  .pricing--details .pricing__image img.load {
    position: absolute;
    top: 40%;
    left: 40%;
  }

  .pricing--details .pricing__image img:not(.load) {
    position: absolute;
  }
  
.pricing--details {
  margin: -30px -10px 0;
}

.pricing--details .pricing__item .pricing__price {
  font-size: 2em;
  position: relative;
}
.pricing--details .pricing__item {
  margin: 0.5em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: left;
  flex: 0 1 800px; 
  margin: 1em;
  border: 0 none;
  border-radius: 0px 0px 0 0;
  transition: flex 0.3s;
}
.pricing--details .pricing__action {
  text-align: center;
  height: 50px;
  line-height: 3em;
  margin-top: 25px;
}

.pricing {
/*  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;*/
  font-size: 0.6em;
}

.pricing--norbu .pricing__item {
  min-height: 340px;
  position: relative;
}

.pricing__item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  flex: 1 1 300px; 
  margin: 2em 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  border-radius: 0px 0px 0 0;
  transition: flex 0.3s;
}

.pricing__feature-list {
  text-align: left;
  margin: 20px 0;
}

.pricing__action {
}

.pricing__action:focus {
  outline: none;
}

/* Individual styles */
/* norbu */
.pricing--norbu .pricing__item {
  color: rgb(55, 58, 60);
  cursor: pointer;
  background: rgba(255,255,255, 1);
  border-radius: 0px;
  -webkit-transition: border-color 0.3s, background 0.3s;
  transition: border-color 0.3s, background 0.3s;
  transition: color 0.3s;
}

.pricing--norbu .pricing__title {
  font-size: 2.4em;
  font-weight: 400;
  margin: 0.5em 0;
  padding: .3em;
  position: relative;
}

.pricing--norbu .pricing__title::after {
  content: '';
  position: absolute;
  width: 20%;
  height: 1px;
  background: #55595c;
  left: 40%;
  bottom: -6px;
}

.pricing--norbu .icon {
  display: inline-block;
  min-width: 2em;
}
.pricing--norbu .pricing__image {
  font-size: 0.55em;
  display: block;
  padding: 0em;
  position: relative;
  min-height: 160px;
}
.pricing--norbu--inverse .pricing--norbu .pricing__image img {
  width: 295px;
  transition: all 0.3s;
}
.pricing--norbu .pricing__item:hover {
/*  flex: 0 1 600px;
  transition: flex 0.3s;*/
}
.pricing--norbu--inverse .pricing--norbu .pricing__item:hover img {
  /*width: 130px;*/
  margin: 0em;
  transition: all 0.3s;
}
.pricing--norbu .pricing__price:hover img {
  /*width: 295px;*/
  transition: all 0.3s;
}
.pricing--norbu .pricing__price:hover + .pricing__feature-list {
  /*opacity: 0;*/
  transition: all 0.3s;
}
.pricing--norbu .pricing__price:hover + div + a {
  /*opacity: 0;*/
  transition: all 0.3s;
}
.pricing--norbu .pricing__price:hover {
/*  font-size: 0em;
  line-height: 0;*/
  transition: all 0.3s;
}
.pricing--norbu .pricing__item img.load {
  width: 66px;
  transition: all 0.3s;
}
.pricing--norbu .pricing__item img {
  width: 160px;
  margin: 0em;
  transition: all 0.3s;
}
.pricing--norbu .pricing__price {
  font-size: 3em;
  padding: 0; 
  font-weight: 400;
  height: 175px;
  z-index: 100;
  transition: top 0.3s;
}
.pricing--norbu .pricing__currency {
  font-size: 0.5em;
  vertical-align: super;
}

.pricing--norbu .pricing__sentence {
  font-size: 1.5em;
  margin: 0em auto 1em;
  padding: 0 2em;
}

.pricing--norbu .pricing__feature-list {
  display: none;
}
.pricing--norbu .pricing__feature-list {
  font-size: 1.15em;
  margin: 0em 1.5em;
  padding: 1em 10px 1em;
  list-style: none;
  background: rgba(250,250,250,1);
  height: 150px;
  margin-bottom: 10px;
  overflow: scroll;
  box-shadow: inset 0px 0px 1px rgba(0,0,0,.5);
}

.pricing--norbu .pricing__feature {
  line-height: 1.4;
  font-size: 1.4em;
}

.pricing--norbu .pricing__feature::before {
  content: "\e87a";
  font-family: 'linearicons';
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.75em 0 0;
}
.pricing--norbu .pricing__action {
  display: none;
}
.pricing--norbu .pricing__action {
  flex: none;
  margin: auto 1em 1em;
  padding: .6em 0em;
  border-radius: 5px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  font-size: 2em;
}

.pricing--norbu .pricing__action:hover,
.pricing--norbu .pricing__action:focus {
}
