@font-face {
  font-family: 'Lehmann';
  src:  url('fonts/Lehmann.eot?7tevy3');
  src:  url('fonts/Lehmann.eot?7tevy3#iefix') format('embedded-opentype'),
    url('fonts/Lehmann.ttf?7tevy3') format('truetype'),
    url('fonts/Lehmann.woff?7tevy3') format('woff'),
    url('fonts/Lehmann.svg?7tevy3#Lehmann') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lehmann1';
  src:  url('fonts/Lehmann_1.eot?7tevy3');
  src:  url('fonts/Lehmann_1.eot?7tevy3#iefix') format('embedded-opentype'),
    url('fonts/Lehmann_1.ttf?7tevy3') format('truetype'),
    url('fonts/Lehmann_1.woff?7tevy3') format('woff'),
    url('fonts/Lehmann_1.svg?7tevy3#Lehmann') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lehmann-"], [class*=" lehmann-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Lehmann1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lehmann-01:before {
  content: "\e900";
}
.lehmann-02:before {
  content: "\e901";
}