# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Methods: "POST, GET, PUT, OPTIONS"
    Header set Access-Control-Allow-Credentials true
    #Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "Authorization, Origin, X-Requested-With, Content-Type"
    Header set Access-Control-Max-Age: 3600
</IfModule>
