<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
	RewriteRule ^$ app/webroot/ [L]
	RewriteRule (.*) app/webroot/$1 [L]
</IfModule>
<IfModule mod_deflate.c>
	AddType image/svg+xml svg svgz
	AddEncoding gzip svgz
</IfModule>
<IfModule mod_headers.c>
#    Header set Access-Control-Allow-Methods: "POST, GET, OPTIONS"
    Header set Access-Control-Allow-Origin "*"
#    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type"
    Header set Access-Control-Max-Age: 3600
</IfModule>