h3.h3 Versandkosten

p Kosten des Versandes nach Österreich: 3,90 Euro

p Kosten des Versandes nach Deuschland (ausser Inseln): 5,90 Euro

p Ab einem Bestellwert von 50,00 Euro liefern wir innerhalb Österreich versandkostenfrei!!

p Wir versenden mit den Paketdiensten DPD und DHL.
  
hr.

p Sollten Sie DPD im Abwesenheitsfall, per Benachrichtigungskarte oder telefonisch, eine neue Lieferadresse mitteilen, fallen noch einmal Portokosten in Höhe von € 3,90 (Österreich) bzw. € 5,90 (Deutschland) an.

h3.h3 Lieferfristen
p Soweit im jeweiligen Angebot keine andere Frist angegeben ist, erfolgt die Lieferung der Ware in Österreich innerhalb von 2-4 Tagen, bei Auslandslieferungen innerhalb von 2-5 Tagen nach Vertragsschluss (bei vereinbarter Vorauszahlung nach dem Zeitpunkt Ihrer Zahlungsanweisung).
p Beachten Sie, dass an Sonn- und Feiertagen keine Zustellung erfolgt.
p Haben Sie Artikel mit unterschiedlichen Lieferzeiten bestellt, versenden wir die Ware in einer gemeinsamen Sendung, sofern wir keine abweichenden Vereinbarungen mit Ihnen getroffen haben. Die Lieferzeit bestimmt sich in diesem Fall nach dem Artikel mit der längsten Lieferzeit den Sie bestellt haben.

p Bei Selbstabholung informieren wir Sie per E-Mail über die Bereitstellung der Ware und die Abholmöglichkeiten. In diesem Fall werden keine Versandkosten berechnet.

hr 

h3.h3 Zahlungsbedingungen

p Bei Lieferungen innerhalb Österreichs haben Sie folgende Zahlungsmöglichkeiten:
p -  Barzahlung bei Abholung
p -  Vorkasse per Überweisung
p -  Zahlung per Nachnahme 
p -  Zahlung per PayPal
p -  Zahlung per amazon payments

p Bei Lieferungen ins Ausland haben Sie folgende Zahlungsmöglichkeiten:
p -  Barzahlung bei Abholung
p -  Vorkasse per Überweisung
p -  Zahlung per Lastschrift (Bankeinzug)
p -  Zahlung per PayPal
p -  Zahlung per amazon payments
p 
p Bei Zahlung per Lastschrift (Bankeinzug) ermächtigen Sie uns widerruflich, den Rechnungsbetrag vom angegebenen Konto einzuziehen.
p 
p Unsere Bankverbindung:
p IBAN: AT482060200000347112
p BIC: DOSPAT2DXXX