div
  p Unser hochwirksames Pfefferspray (Markenqualität Made in Germany) enthält das konzentrierte
  p Extrakt (je nach Produkt zwischen 3 und 13,2%) Oleoresin Capsicum (des Cayenne-Pfeffers).
  p Pfefferspray macht jeden Angreifer innerhalb weniger Sekundenbruchteile kampf- und handlungsunfähig.
  p Die Augen, Haut und Schleimhäute brennen wie Feuer und der Angreifer ringt nach Luft.
  p Die Wirkung hält je nach Sprühdauer bis zu einigen Stunden an.
  p
  p.bs-warning <strong>Zur Beachtung: </strong>  Pfefferspray darf in Deutschland nur zur Abwehr von angreifenden und aggressiven Tierenverwendet und verkauft werden.