div.danger.alert
  
  p Der Versand von Pfeffer- und CS Gas-Sprays erfolgt ausschließlich an Personen über <strong>18 Jahre</strong> mit Altersnachweis
  p Dazu bitte ein Scan oder Foto des Nachweises per Mail an ha-lehmann@gmx.at senden.
  p Dieser FSK 18 Artikel kann gem. einer Richlinie von PayPal nicht mit PayPal bezahlt werden.