h3.h3 Gesetzliche Anbieterkennung
p Handelsagentur Lehmann
p Angela Lehmann
p Dornachgasse 15
p 6850 Dornbirn
p Vorarlberg -  Österreich
hr
p Telefon: +43 664-1306372
p Telefax: +43 5572-422498
p Email  : ha-lehmann@gmx.at
p USt-IdNr.: ATU71224409
p Wi-ID-Nr.: 8206629
p 
p Unternehmensgegenstand: Online-Handel mit Outdoor, Fitness und Restposten
p Mitgliedschaften: Händlerbund
p Berufsrecht: Gewerbeordnung: http://www.ris.bka.gv.at
p Aufsichtsbehörde: Bezirkshauptmannschaft Dornbirn
p 
hr
p Die Europäische Kommission stellt eine Plattform für die außergerichtliche Online-Streitbeilegung (OS-Plattform) bereit, aufrufbar unter . http://ec.europa.eu/odr
p Wir sind seit 01.12.2016 Mitglied der Initiative "FairCommerce". Nähere Informationen hierzu finden Sie unter www.fair-commerce.de.
hr
p
  div
    a(href="https://www.haendlerbund.de/faircommerce", target="_blank")
      img(src="/img/fc_logo.gif")