@import "reset";
@import "base";
@import "modal";
@import "fonts";

$light-grey = #868686
$white-grey = #717171
$dark-grey = #565656
$medium-blue = rgba(51, 153, 255, 1)
$medium-blue-semi = rgba(51, 153, 255, .5)
$medium-blue-semi-80 = rgba(51, 153, 255, .8)
$light-blue = rgba(159, 222, 255, 1)
$light-red = rgba(255, 85, 17, 1)
$light-blue-semi = rgba(159, 222, 255, .5)
$azur-blue = rgb(0, 238, 255)
$fire = rgb(255, 203, 20)
$btn-info = rgb(91, 192, 222)
$btn-warning = rgb(240, 173, 78)
$btn-default = rgb(255, 255, 255)
$btn-primary = rgb(134, 134, 134)
$dark-from-gradient = rgb(51, 51, 51)
$dark-to-gradient = rgb(35, 35, 35)
$blue-from-gradient = rgb(22, 84, 125)
$blue-to-gradient = rgb(20, 47, 64)
$allview = rgba(241, 105, 0, 0.9)

* {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
}
html, body {
  background: none repeat scroll 0 0 #606067;
  
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-align: stretch;
  -moz-box-orient: vertical;

  display: box;
  box-align: stretch;
  box-orient: vertical;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
}
body {
  color: #333;
  background-image: url("/img/pattern.png");
  background-color: #666;
	font-family: 'Muli', 'Myriad Pro', Arial, sans-serif !important;
	font-size: 0.8rem;
  font-weight: 300;
}
*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

*:-khtml-drag {
  background-color: rgba(255,255,0, 0.5) !important;
}

*[tabindex] {
  outline: none !important;
}
ul.liststyle > li{
  list-style: outside;
  max-width: 550px;
  text-align: left;
}
.liststyle > li > ul {
    margin-left: 30px;
}
.liststyle > li > ul > li {
    list-style-type: square;
}
ul.liststyle > li:first-child {
  list-style: none;
  font-size: 1.5em;
  font-weight: 300;
  margin: 50px 0;
}
.photo img {
  width: 100%
}
#fu .vbox.flex > hr {
  border-color: rgb(0, 0, 0);
}
table.table {
  margin-bottom: 0;
}
.table {
  color: $light-grey;
}
table.table > th, table.table tbody > tr > td {
  border-top: 1px solid rgb(134, 134, 134);
  vertical-align: middle;
  color: rgb(154, 154, 154);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
#fileupload .table > tbody > tr > td {
  background: rgb(63, 63, 63);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: inherit;
}
button > i:last-child {
  padding-right: 9px;
}
button > div:first-child {
  color: inherit;
  font-size: 0.6em;
  font-weight: normal;
  line-height: 0;
}
.td {
  display: table-cell;
  padding: 0 5px;
}
.tr {
  display: table-row;
}
input, textarea {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
}
header, footer {
  display: block;
}
footer.footer {
  margin: 0;
}
.center {
  text-align: center;
}
.inline {
  display: inline !important;
}
.autoflow {
  overflow: auto;
}
.flex, flex1 {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.hbox {
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-align: stretch;
  -moz-box-orient: horizontal;

  display: box;
  box-align: stretch;
  box-orient: horizontal;
}
.vbox {
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-align: stretch;
  -moz-box-orient: vertical;

  display: box;
  box-align: stretch;
  box-orient: vertical;
}
.fixed { position: fixed; }
.bold { font-weight: bold }
h1, h2 {
  font-weight: bold;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
  margin: 0;
  display: inline;
}
h3 {
  font-size: 2em;
  padding: 0;
  margin: 0;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
a {
  text-decoration: none;
  cursor: pointer;
}
pre { 
  margin: 0;
  font-family: serif, Helvetica, Arial, "MS Trebuchet", sans-serif;
}
ul, li {
  list-style: none;
  padding: 0
}
.h2 {
  font-size: 2em;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.none {
  display: none;
}
.right {
  float: right
}
.left {
  float: left
}
.tright {
  text-align: right;
}
.underline {
  text-decoration: underline;
}
.titles hr {
  margin: 0;
  border-width: 1px;
  border-color: rgba(198, 198, 198, 0.5);
  position: relative;
  bottom: 85px;
  width: 96%;
}
.content, #views .views .view {
}
.symbol i {
  margin: 0;
}

.admin .sidebar .preview .favorite {
  position: absolute;
  color: #f00;
  font-size: 5em;
  left: 3px;
  top: -8px;
  z-index: 1;
}
.items {
/*  height: 0;*/
}
div.content label.label span {
  font-weight: normal;
  font-family: serif;
  font-style: italic
}
.italic {
  font-style: italic
}
#show .categories .item:not(.active) .inner > div:nth-child(4) {
  visibility: hidden;
}
button.white {
color: rgb(255, 255, 255);
opacity: 0.5;
}
button.close.white:hover {
opacity: 1;
color: rgb(255, 255, 255);
z-index: 999;
}
button, .btn {
/*  border: 1px solid;
  padding: 10px;
  line-height: 1.5em;
  border-radius: 3px;
  cursor: pointer;
  outline: 0 none;
  color: inherit;*/
}

button.clear {
  margin-right: 10px
}
button:active:not(:disabled) {
  background: #e3e3e3;
  background: linear-gradient(top, #e3e3e3, #f9f9f9);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f9f9f9));
  background: -moz-linear-gradient(top, #e3e3e3, #f9f9f9);
}
button.default {
  color: #ffffff;
  border: 1px solid #3f68a5;
  text-shadow: 0 -1px 1px #46677f;
  background: #7bb5db;
  background: linear-gradient(top, #7bb5db, #4775b8);
  background: -webkit-gradient(linear, left top, left bottom, from(#7bb5db), to(#4775b8));
  background: -moz-linear-gradient(top, #7bb5db, #4775b8);
}
button.default:active {
  background: #4775b8;
  background: linear-gradient(top, #4775b8, #7bb5db);
  background: -webkit-gradient(linear, left top, left bottom, from(#4775b8), to(#7bb5db));
  background: -moz-linear-gradient(top, #4775b8, #7bb5db);
}
button.default .active {
  background: #4775b8;
  background: -webkit-gradient(linear, left top, left bottom, from(#4775b8), to(#7bb5db));
  background: -moz-linear-gradient(top, #4775b8, #7bb5db);
  background: linear-gradient(top, #4775b8, #7bb5db);
}
.dark:active:not(:disabled), .dark:active:not(:disabled) {
  background: #404040;
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#454545));
  background: -moz-linear-gradient(top, #404040, #454545);
  background: linear-gradient(top, #404040, #454545);
}
.dark {
  color: $light-grey;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  background: #494949;
  background: -webkit-gradient(linear, left top, left bottom, from($dark-from-gradient), to($dark-to-gradient));
  background: -moz-linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
  background: linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-color: rgb(85, 85, 85);
}
button.jumbo, .btn.jumbo {
  padding: 40px 10px;
  width: 108px;
  height: 108px;
  white-space: inherit;
}
.nav > li > span, .nav > li > button {
  
}
.dopdown.dark label.btn.dark, button.dark, a.btn.dark, .fileinput-button.dark, .options li.disabled, .options li.opt, .options li.opt > a, .options li.dropdown > a {
  background: linear-gradient(center top , $dark-from-gradient, $dark-to-gradient);
  background: -moz-linear-gradient(center top , $dark-from-gradient, $dark-to-gradient);
  background: -webkit-gradient(linear, center top,center bottom, from($dark-from-gradient), to($dark-to-gradient))
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: rgb(134, 134, 134);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  padding: 10px;
  line-height: 1.5em;
  border: 1px solid rgba(70, 70, 70, .8);
}
button.blue, span.blue {
  background: linear-gradient(center top , $blue-from-gradient, $blue-to-gradient);
  background: -moz-linear-gradient(center top , $blue-from-gradient, $blue-to-gradient);
  background: -webkit-gradient(linear, center top,center bottom, from($blue-from-gradient), to($blue-to-gradient))
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: rgb(134, 134, 134);
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  padding: 10px;
  line-height: 1.5em;
  border: 1px solid rgba(70, 70, 70, .8);
}
.options button, .options li.opt, [class^="opt-"] {
  cursor: pointer;
}
.options button, .options li.opt, .options li.dropdown > a {
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  margin: 0;
}
.opt > span {
  line-height: 1em;
}
.opt > button {
  font-size: 21px;
  line-height: inherit;
}
.options li.disabled {
  color: #ABABAB;
  background: linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
  background: -webkit-gradient(linear, left top, left bottom, from($dark-from-gradient), to($dark-to-gradient));
  background: -webkit-linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
  background: -moz-linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
  border-top: 0 solid;
  border-left: 0 solid;
  border-bottom: 0 solid;
}
ul:last-child li:last-child button {
  box-shadow: none;
  padding: 10px;
}
button.large {
  font-size: 1.3em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 5px;
  font-style: inherit;
  text-shadow: 0 -1px 0 #000000;
  position: relative;
}
.invite {
  display: table;
  margin: 30px auto;
  text-align: center;
}
label span {
}

label input {
}

label input[type="checkbox"] {
}

label input[type="checkbox"] + span { display: inline; }

label input[type="text"] {
}

.enlightened {
  color: rgb(50, 50, 40);
  text-shadow: 0 1px 0 rgba(200, 200, 200, 0.8);
  font-weight: normal;
}
.views {
  position: relative;
}
.top {
  position: relative;
  top: 0;
}
.bottom {
  bottom: 0;
}
.view .enlightened {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #cccccc;
  text-shadow: none;
  color: #000;
  float: left;
  padding: 3px 16px;
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.5em;
}
.view label span {
  cursor: auto;
}
.view > .viewheader > span:first-child {
  font-size: 0.7em;
  line-height: 35px;
}
.view .viewheader .header-title {
  line-height: 2em;
  font-size: 0.5rem;
}
.header-title h3:first-child {
  margin-right: 10px;
}
.header-title .btn-group {
  font-size: 2em;
  margin-right: 10px;
}
.header-title .title-field {
  font-size: 3em;
  display: inline;
  position: relative;
  top: 6px;
}

.header .h4, .header .h3, .header .h2, .header .h1 {
  display: inline-block;
  padding: 0 6px;
}
i.ok {
  position: absolute;
  top: -22%;
  left: 55%;
  font-size: .7em !important;
}
i.ok[class*="-ok"] {
  color: #3ada3a;
}
i.ok[class*="-exclamation-sign"] {
  color: #f92727;
}
button:disabled:not(.btn-label) {
  cursor: auto;
  opacity: 0.3;
}
.view label.label span {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.80);
  color: rgba(250, 250, 250, 0.4);
}
label input[type="password"] {
  width: 220px;
  margin: 0 2px 0 0;
  padding: 4px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  width: 220px;
  margin: 0 2px 0 0;
  padding: 4px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*textarea, input[type="text"], input[type="password"] {
  border: 1px solid #9e9fa2;
  color: #414141;
  text-shadow: 0 1px 1px #ffffff;
  font-size: 17px;
  outline: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #e6e6e7;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e7), to(#fafafa));
  background: -moz-linear-gradient(top, #e6e6e7, #fafafa);
  background: linear-gradient(top, #e6e6e7, #fafafa);
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e7), color-stop(0.3, #fafafa), to(#fafafa));
}

textarea {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 70px;
  width: 100%;
}*/
.vdivide {
  width: 23px;
  border: 1px solid #666666;
  border-width: 0 1px 0 1px;
  border-right-color: rgba(0, 0, 0, 0.3);
  background: #494949;
  background: url("/img/draghandle_v.png"), -webkit-gradient(linear, left top, right top, from($dark-from-gradient), to($dark-to-gradient));
  background: url("/img/draghandle_v.png"), -webkit-linear-gradient(left, $dark-from-gradient, $dark-to-gradient);
  background: url("/img/draghandle_v.png"), -moz-linear-gradient(left, $dark-from-gradient, $dark-to-gradient);
  background: url("/img/draghandle_v.png"), linear-gradient(left, $dark-from-gradient, $dark-to-gradient);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing:border-box;
  cursor: pointer;
}
.hdivide {
  height: 23px;
  border: 1px solid #666666;
  border-width: 1px 0 1px 0;
  border-bottom-color: rgba(0, 0, 0, 0.7);
  background: #494949;
  background: url("/img/draghandle_h.png"), -webkit-gradient(linear, left top, left bottom, from($dark-from-gradient), to($dark-to-gradient));
  background: url("/img/draghandle_h.png"), -webkit-linear-gradient(top $dark-from-gradient, $dark-to-gradient);
  background: url("/img/draghandle_h.png"), -moz-linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
  background: url("/img/draghandle_h.png"), linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing:border-box;
  font-size: 1em;
  cursor: pointer;
}
#title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0px -1px 3px #1d1d1d;
  -webkit-box-shadow: inset 0px -1px 3px #1d1d1d;
  box-shadow: inset 0px -1px 3px #1d1d1d;
  background: #474747;
  background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#303030));
  background: -moz-linear-gradient(top, #474747, #303030);
  background: linear-gradient(top, #474747, #303030);
}
#title h1 {
  border-right: 1px solid rgb(24, 24, 24);
  box-shadow: 1px 0 1px rgb(82, 82, 82);
  color: rgba(0, 224, 241, 0.5);
  font-weight: bold;
  font-size: 27pt;
  line-height: 2em;
  margin: 0;
  padding: 11px 40px 0;
  text-align: center;
}
.canvas {
  background: url("/img/pattern.png") repeat  0 0;
}
.bg-light {
  background-color: #EFEFEF;
}
.bg-medium {
  background-color: #606067;
}
.bg-dark {
  background-color: rgba(51, 51, 51, 0.75);
}
ul.items {
  font-size: 1em;
}
.flower {
  height: 64px;
  margin: 0 auto;
  width: 104px;
  background: url("/img/flower.png") no-repeat 0 0;
}
.header {
  color: #868686;
  text-transform: uppercase;
/*  line-height: 24px;
  height: 69px;
  font-size: 11px;
  background: #000;
  opacity: 1;
  z-index: 999;
  -moz-box-shadow: 1px 0px 2px #000;
  -webkit-box-shadow: 1px 0px 2px #000;
  box-shadow: 1px 0px 2px #000;*/
}
.header .view .top {
  padding: 22px 5px;
}
.header .h2.chopin {
  line-height: 0;
}
.header .view section:first-child {
  /*box-shadow: 0 4px 4px rgba(0,0,0,0.5);*/
  z-index: 1;
}
.header .view section:nth-child(2) {
  /*position: absolute;*/
}
.header .view section:nth-child(2) {
  position: relative;
  top: 20px;
}
.header .btn:hover {
  border-radius: 0;
}
table.carousel.table {
  font-size: 1.1rem;
}
.sidebar {
  width: 300px;
}
.sidebar li div[class*="pricing"] {
  text-shadow: none;
}
.sidebar li.parent.active, .sidebar li.active li  {
  color: inherit;
  /* font-size: 1.8em; */
  text-shadow: 0px 1px 0px rgba(202, 202, 196, 0.84);
  font-weight: normal;
}
.sidebar .parent.protected {
  background-color: rgba(64,78,50,0.7) !important;
  color: rgba(151, 169, 151, 0.81) !important
  text-shadow: -1px 0px 1px rgb(24, 27, 22);
}
.sidebar .parent.protected.active {
  background-color: rgba(191, 208, 174, 0.7) !important;
  color: rgb(53, 62, 43) !important;
  text-shadow: 0px 1px 0px rgba(202, 202, 196, 0.84);
}
.sidebar li.parent:not(.preview), .sidebar li li div.item {
  font-size: 1.6em;
}
li.parent {
  color: #aaa;
}
li.parent:not(.open) {
}
li.parent:hover:not(.active) {
  opacity: 1;
  transition: all .2s;
}
li.parent:not(.active) {
  opacity: .5;
  transition: all .2s;
}
.open ul.sublist {
  display: block !important;
}
ul.sublist {
  display: none !important;
}
ul {
  margin: 0;
  padding: 0;
}
.sidebar .parent:not(.sublist-item) {
  position: relative;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  margin-bottom: 2px;
  padding: 15px 0 0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.5);
}
.contents.views {
  background: url("/img/gradient-normal-xxl.png") repeat scroll 0 0 rgba(75, 75, 75, 0.15);
}
.cta {
  padding: 0 5px;
}
.outer-cta {
  position: absolute;
  right: 0px;
}
[class*="-x"] {
  color: rgba(255,255,255,0.5);
}
.x-xl {
  font-size: 4em;
  font-weight: bold;
  margin: -20px auto;
  width: 400px;
  text-align: center;
}
.x-xs {
  font-size: 0.5em;
  line-height: 1em;
}
#content .header section.breadcrumb {
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: 10;
}
#content .header section.breadcrumb ul {
  float: left;
}
.disabled {
  cursor: not-allowed !important;
}
#content .header section {

}
#content .header section + section {

}
.header section.top {
  /*position: relative;*/
}

.header section div:nth-child(2) {
}
/*li img {
  float: left;
  width: 23px;
  height: 23px;
  margin: 8px;
}*/
ul.sublist::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.6);
}
ul.sublist>li:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin: -2px 0 0 0;
  background: rgba(0,0,0,0.5);
}
span.inner-sub {
  height: 106px;
}
.sublist span {
  vertical-align: baseline;
}
.gal .sublist-item.selected.active {
    background-color: rgba(51, 153, 255, 0.28);
}
.gal .sublist-item.selected {
    background-color: rgba(51, 153, 255, 0.16);
}
.gal.active .sublist-item.selected.active {
    background-color: $medium-blue-semi;
}
.gal.active .sublist-item.selected {
    background-color: $light-blue-semi;
}
.gal.active {
    /*border-color: $medium-blue-semi;*/
}
.sidebar .glyphicon {
  font-size: 1.1em;
}
.item span.author {
  font-size: 0.8em;
  font-style: italic;
}
.item-content {
  cursor: pointer;
}
.sublist-item span {
}
.sublist-item span.title {
  padding-left: 10px
}
.cover-header {
  color: rgba(255,255,255, 0.8);
  font-size: 3em;
  line-height: 1em;
}
.footer, .header {
  padding: 6px 15px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #222;
  background: $dark-from-gradient;
  background: linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
  background: -webkit-gradient(linear, left top, left bottom, from($dark-from-gradient), to($dark-to-gradient));
  background: -moz-linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}
.search {
  padding: 7px 5px;
  border: 1px solid #555555;
  border-width: 1px 0 1px 0;
  background: -moz-linear-gradient(center top , #494949, #333333);
  position: relative;
}
.search input {
  font-size: 30px;
  width: 100%;
  height: auto;
  background-color: #DDDDDD;
  padding: 0;
  border: 0 none;
  line-height: 50px;
}
.empty {
  font-style: italic;
}
.sidebar ul.sublist {
  margin: 0;
}
.center {
  margin: 0 auto;
}
.sidebar ul.sublist li.sublist-item {
  position: relative;
  padding: 0px 5px 0px;
  font-weight: normal;
  line-height: 3rem;
  font-size: 0.8em;
  height: 48px;
}
.expander {
  width: 23px;
  height: 23px;
  float: left;
  margin: -9px 5px;
  cursor: pointer;
  top: 10px;
  position: relative;
}
.badge {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: rgba(230, 0, 0, .7);
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(250, 0, 0, 0.2) inset;
  border: 1px solid rgb(255, 0, 0);
  line-height: 1.3;
}
.cta {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 20px;
  border: 1px solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  padding: 2px 10px;
}
.active .alb .cta {
  border: 1px solid #575757;
}
.alb .cta {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-color: #979797;
  position: relative;
  right: 10px;
  top: -2px;
}
.active .gal.cta {
  border: 1px solid rgb(90, 90, 90);
}
.gal.cta {
  border: 1px solid rgb(120, 120, 120);
/*  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;*/
  font-size: 0.9em;
  line-height: 16px;
  padding: 7px 11px;
  position: absolute;
  right: 10px;
  top: 13px;
}
.hoverinfo .cta {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(255, 255, 255, 0.3);
  margin-left: 10px;
  padding: 3px 15px;
  font-size: 1.1em;
}
.sidebar .expander {
  background: url("/img/arrow.png") no-repeat -22px 0;
}
#preview .preview {
  border: 0 none !important;
}
#preview .pricing [class*="eye"] {
  position: absolute;
  right: -5px;
  top: -11px;
  padding: 10px;
  font-size: 2em;
  background-color: transparent;
  z-index: 100;
}
.preview .pricing--norbu .pricing__item {
  position: relative;
}
.sidebar .preview .expander {
  background: url("/img/arrow.png") no-repeat -43px 0px;
}
.sidebar .preview.open .expander {
  background: url("/img/arrow.png") no-repeat -43px -23px;
}
.sidebar .open .expander {
  background: url("/img/arrow.png") no-repeat -22px -23px;
}
.sidebar .active .expander {
  background: url("/img/arrow.png") no-repeat 0 0;
}
.sidebar .active.open .expander {
  background: url("/img/arrow.png") no-repeat 0 -23px;
}
.sidebar .parent {
  background-color: rgba(80, 80, 80, 0.7);
}
.sidebar .preview ul.sublist {
  padding-bottom: 5px;
}
.sidebar .preview.parent > .item-header {
  padding-bottom: 13px;
  line-height: 1.2em;
}
.sidebar .parent > .item-header {
  padding-bottom: 13px;
  line-height: 1.4em;
}
[class*="toolbar-"] {
  font-size:  1.2em;
}
.toolbar input {
  margin: 0;
  padding: 0;
}
input.tmi {
  width: 90px;
  margin: 0 4px;
  padding: 3px;
  text-align: right;
}
.trustami-badge:before {
  content: " ";
  display: block;
  background-image: url(/img/trustami-logo-grey-128.png);
  background-size: 30px 30px;
  position: absolute;
  left: -20px;
  top: 7px;
  width: 30px;
  height: 30px;
}
.opt-Preview {
  color: rgba(245,245,245,0.91);
  font-family: "ChopinScript", serif;
  font-size: 2.5rem;
  vertical-align: initial;
  /* top: 28px; */
  height: 49px;
  /* line-height: 1rem; */
  text-shadow: 1px 0px 1px rgba(35,35,35,0.72);
}
.sidebar .parent.active {
  background-color: rgba(200, 200, 200, 0.77);
}
.toolbar .tb-name > tb-options {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.navbar {
  font: 15px sans-serif;
  position: relative;
  height: 39px;
}
#content .items .item {
  float: left;
  cursor: move;
}
#content .items .item .titles div:not(.rule) {
  position: absolute;
  margin-right: 17px;
}
#content .items .item .titles {
  width: 62%;
  cursor: auto;
  top: 0;
  overflow: auto;
  z-index: 0;
  padding-left: 160px;
}
.titles .title {
  top: 26px;
  font-size: 1em;
  height: 50px;
}
#content .title::after {
  content: '___________________________';
  display: inline-block;
}
#content .titles .subtitle {
  top: 82px;
  font-size: 0.9em;
  height: 60px;
}
#content .info-badges .warning-badge {
  color: #fff;
  background-color: #ff0000;
}
section.info-badges {
  right: 0;
  bottom: 0px;
  position: absolute;
  color: #535354;
  padding: 0;
  font-size: 0rem;
  margin: 0;
}
section.info-badges>span {
  background-color: #fff;
  color: #535354;
  text-shadow: none;
}
section span.link {
  font-size: 1rem;
  color: forestgreen;
}
section span.price {
  font-size: 1.1rem;
}
.options {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from($dark-from-gradient), to($dark-to-gradient));
  background: -moz-linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
  background: linear-gradient(top, $dark-from-gradient, $dark-to-gradient);
}
#content .options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.options li:not(.ui-icon) {
}
.options li button:not(:disabled) {
}
.options li.active button:not(:disabled), .options li button:active:not(:disabled), label.btn.active {
/*  background: $azur-blue;
  box-shadow: 0 0 10px #6C6C6C inset;
  -moz-box-shadow: inset 0 0 10px #6C6C6C;
  -webkit-box-shadow: inset 0 0 10px #6C6C6C;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);*/
}
.options li button:hover:not(:disabled), .options a.dropdown-toggle:hover:not(:disabled) {
  color: #FFFFFF;
}
.options li button:active:not(:disabled) {
  color: rgba(50, 50, 50, 0.6);
}
.originals .options {
  font-weight: normal;
}
.empty {
  font-style: italic;
}
.content input, .content textarea {
  width: 100%;
}
#views .views .view {
  height: 0;
}
.views > .view:not(.active) {
  display: none !important;
}
#content .content .items .item:not(.thumbnail) li:not(.divider) {
  color: rgba(0, 0, 0, 0.8);
  padding: 5px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#content .content .items .item:not(.thumbnail) {
  background-repeat: no-repeat;
  -moz-background-position: 34px 34px, 95px 34px, 34px 95px, 95px 95px;
  -webkit-background-position: 34px 34px, 95px 34px, 34px 95px, 95px 95px;
  background-position: 34px 34px, 95px 34px, 34px 95px, 95px 95px;
  flex: 1 300;
  color: #868686;
}
[class*='categories'] .items {
  font-size: 1.3rem;
}
[class*='categories'] .thumbnail {
  background-color: rgba(51, 51, 51, 0.53);
  background-image: none;
  width: 250px;
  height: 150px;
}
[class*='products'] .thumbnail {
  background-color: rgba(51, 51, 51, 0.53);
  background-image: none;
  width: 380px;
  height: 160px;
}
[class*='products'] .items .item {
    margin: 0 10px 10px 0;
}
[class*='products'] .thumbnail.single {
  background-repeat: no-repeat;
  -moz-background-position: 13px 17px;
	 -webkit-background-position: 13px 17px;
	 background-position: 10px 10px;
}
[class*='products'] .thumbnail {
  background-repeat: no-repeat;
  -moz-background-position: 10px 10px, 85px 10px, 10px 85px, 85px 85px;
	 -webkit-background-position: 10px 10px, 85px 10px, 10px 85px, 85px 85px;
	 background-position: 10px 10px, 85px 10px, 10px 85px, 85px 85px;
}
[class*='products'] .thumbnail.load {
  background-repeat: no-repeat;
  -moz-background-position: 25px 32px, 92px 32px, 25px 100px, 92px 100px;
	 -webkit-background-position: 25px 32px, 92px 32px, 25px 100px, 92px 100px;
	 background-position: 25px 32px, 92px 32px, 25px 100px, 92px 100px;
}
[class*='products'] .item.active:not(.ignored) .thumbnail {
  /*outline-color: rgb(64, 216, 64);*/
  /*outline-width: 5px;*/
  /*outline-style: solid;*/
}
#content .content .items:not(.nopad) {
  padding: 10px 10px
}
#content .content .item:hover {
}
.all .item {
  padding: 0;
  width: auto;
}
#main #content .photos.content .container {
}
#main #content .content .container fieldset {
  border: medium none;
  float: left;
  margin: 10px 0 0;
  min-height: 100px;
  width: 320px;
}
#main #content .content .container .hoverinfo {
  padding: 10px 0;
}
#content .content li.item {
  position: relative;
}
#overview .close {
  position: absolute;
  right: 14px;
  font-size: 3em;
  color: rgb(200,200,200);
  opacity: 1;
  z-index: 999;
}
#overview {
  margin: 0;
  padding: 0;
}
.carousel-item {
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  width: 450px;
}
.carousel-inner > div {
  height: 720px;
}
.carousel-caption {
  top: 0;
  bottom: inherit;
}
.carousel-indicators {
  bottom: -30px;
}
#overview .thumbnail {
  width: 70px;
  height: 70px;
  margin: 2px;
  border: 0 none;
}
.carousel-control.right, .carousel-control.left {
  background: none;
}
.carousel .carousel-item {
  left: 0%;
  right: 0%;
  position: absolute;
  color: rgba(200, 200, 200, 0.9);
  text-align: center;
  top: 80px;
}
.carousel .jumbotron {
  background-color: $dark-from-gradient;
}
.carousel.slide {
  outline: 0px solid rgb(150, 150, 150);
}
.carousel table.table > th, .carousel table.table tbody > tr.h1 > td {
  font-size: 2em;
  color: rgba(130, 130, 130, 0.9);
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.carousel table.table tbody > th, .carousel table.table tbody > tr:not(:first-child) {
  /*border: 1px solid;*/
}
.carousel table.table tbody > th, .carousel table.table tbody > tr > td {
  /*border: 0 none;*/
  color: rgba(130, 130, 130, 0.99);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
#content .products.content .item {
}
#content .content .item {
  outline: #121212;
}
li .thumbnail.image {
  position: relative;
  background-position: center center;
  background-size: inherit;
}
.thumbnail {
  background-position: 0 0;
}
.thumbnail {
  outline: none;
  white-space: nowrap;
  padding: 10px;
  margin: 0;
  color: rgba(200, 200, 200, 0.5);
  line-height: 1.2em;
  border-radius: 0px;
}
.categories li {
  margin: 0 5px 10px;
}
.categories.items li.item .thumbnail {
  width: 320px;
  height: 160px;
  margin: 20px 5px 0 0;
  padding: 10px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.4rem;
  line-height: 2em;
  text-shadow: 0 1px 0.1px rgba(0, 0, 0, 0.9);
  margin: 0;
  background: transparent;
}
#overview .thumbnail {
  width: 70px;
  height: 70px;
  border: 0 none;
}
.content li.item {
  border: 1px solid;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #111;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.photos {
  background-image: url(/img/drag_info_lg.png);
  background-size: 70%;
  background-position: 165px 62px;
  background-repeat: no-repeat;
}
.photos .thumbnail {
  background-image: url("/img/photo-loader.gif");
  background-repeat: no-repeat;
}
.photo .thumbnail.image {
}
.active .thumbnail .name {
  color: rgba(250, 192, 150, 0.4);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  font-family: Verdana, sans-serif;
}
.items {
}
.item.active + .item {
}
#content .content .item:not(.active) span.close {
  display: none;
}
#content .content .item span.close {
position: absolute;
cursor: pointer;
top: -20px;
right: -14px;
}
.content .item.active {
  border-color: $light-blue;
}
.content .item.ignored .thumbnail {
  opacity: .3;
}
#content .ignored .glyphicon[class*='-eye'] {
  /*color: red !important;*/
}
#content [class*='-camera'] {
  color: red;
}
#content .glyphicon[class*='-eye'] :not([class*="-menu"]), .thumbnail+.glyphicon-set [class*='-eye'] {
  color: rgb(64, 216, 64) !important;
}
li.active .sublist-item:not(.ignored) {
  /*background: rgba(200, 200, 200, 0.4);*/
}
.sublist-item:not(.ignored) {
  /*background: rgba(80,80,80,0.4);*/
}
.content .item:not(.ignored) {
  /*border-color: rgb(64, 216, 64);*/
}
.content .item:not(.ignored) .glyphicon-set  {
  /*background-color: rgb(64, 216, 64);*/
}
.glyphicon {
  line-height: inherit;
  paddingt: 0 5px 0 0;
}
nav .glyphicon {
  line-height: 0.5em;
}
.glyphicon-set.left {
  left: 0;
}
.glyphicon-set.right {
  right: 0;
}
.glyphicon-set {
  background-color: #868686;
  position: absolute;
  padding: 0px 0px 5px 13px;
  top: 0;
}
.glyphicon-set:nth-child(2) {
  padding: 5px 10px 5px 8px;
}
.glyphicon-set:nth-child(3) {
  padding: 5px 6px 5px 10px;
}
.glyphicon-set:nth-last-child(2) {
  padding: 5px 6px 5px 10px;
}
a.glyphicon {
  font-size: 1.2rem;
}
.sidebar .infogramm .glyphicon {
  font-size: 0.7rem;
}
.glyphicon-set.blue {
  background-color: $medium-blue;
}
.glyphicon-white {
  color: white !important;
}
.glyphicon-red {
  color: red !important;
}
li.item.active .glyphicon-set {
  opacity: 1;
}
.glyphicon-set .glyphicon {
  text-shadow: 1px 0px 0px #000000;
}
.invalid {
  color: red;
}
.valid {
  color: #44b944;
}
li.item.active:not(.ignored).hot .glyphicon-set {
  /*background-color: #40d840;*/
}
li.item.active.hot .glyphicon-set {
  background-color: $medium-blue;
}
li.item.active .glyphicon-set {
  background-color: $light-blue;
}
.content .item.hot {
  border-color: $medium-blue ;
}
#content .content .item ul {
  float: left;
}
#content .content .item ulxxxx {
  display: none;
}
.in {
}
.outout {
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
.out {
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
.infast {
  opacity: 1;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
.inslow {
  opacity: 1;
  -webkit-transition: opacity 0.8s linear;
  -moz-transition: opacity 0.8s linear;
  -ms-transition: opacity 0.8s linear;
  -o-transition: opacity 0.8s linear;
  transition: opacity 0.8s linear;
}
#content .content .item ul {
  float: right;
  padding: 0;
  margin: 0 15px 15px 0;
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0% 0%;
  -moz-transform: scale(1);
  -moz-transform-origin: 0% 0%;
  -o-transform: scale(0.8);
  -o-transform-origin: 0% 0%;
  -ms-transform: scale(1);
  -ms-transform-origin: 0% 0%;
  transform: scale(1);
  transform-origin: 0% 0%;
}
/*#content .header label, #content .header h3 {
  display: inline;
  font-size: 1.6em;
  font-weight: normal;
}*/
#content .header label.h2 {
  font-size: 2.7em;
}
#content .header h3:nth-child(2) {
  /*margin-left: 20px;*/
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.box-shadow {
  box-shadow: 0px -1px 3px 5px rgba(0, 0, 0, 0.8)
}
.views .view div.left:nth-child(2) {
}
.item-header {
}
.copycursor {
  cursor: url("/img/cursor-copy.png"), auto;
}
.movecursor {
  cursor: url("/img/cursor-move.png"), auto;
}
.opt {
  text-decoration: underline;
}
[class*='opt-'] {
  cursor: pointer;
}
.preloader {
  position: absolute;
  right: 0;
  top: 200px;
}
.preloader .content {
 
}
.preloader .content div:nth-child(1) {
  background: url("/img/35.png") no-repeat scroll 0 0 transparent;
  height: 40px;
  width: 40px;
}
#loader div.dialogue div {
  color: #C9C9C9;
  font-family: georgia;
  font-size: 21px;
  text-shadow: 0 -1px 0 #000000;
  position: relative;
}
#loader .status-symbol {
   margin: 10px;
}
#content ul {
  margin: 0;
}
.breadcrumb > li.glyphicon:first-child {
  min-width: 75px;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.breadcrumb li a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}
.breadcrumb li:not(.glyphicon) {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  font-style: initial;
  font-family: sans-serif;
  font-weight: bold;
}
.breadcrumb li.active, .breadcrumb .divider {
  color: rgba(0, 0, 0, 0.5);
}
.breadcrumb.hoverinfo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 100, 100, 0.9)), to(rgba(140, 140, 140, 0.7)));
  background: -moz-linear-gradient(center top , rgba(100, 100, 100, 0.9), rgba(140, 140, 140, 0.7));
  background: linear-gradient(center top , rgba(100, 100, 100, 0.9), rgba(140, 140, 140, 0.7));
}
.hoverinfo {
  min-width: 120px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  background: $medium-blue-semi-80;
  padding: 10px 15px;
  position: absolute;
  z-index: 1
}
.fadein.in {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
.fadein.in1 {
  opacity: 1;
  transition: opacity 1s ease 0s;
}
.fadein.in2 {
  opacity: 1;
  transition: opacity 2s ease 0s;
}
.fadein.in3 {
  opacity: 1;
  transition: opacity 3s ease 0s;
}
.fadein {
  opacity: 0;
}
.header .view .fadeelement {
  min-width: 120px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.view.photos .order {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: purple;
  padding: 4px 10px;
}
.views .header.views .view.active section:first-child {
  /*padding: 20px;*/
}
.view.active .fadeelement {
  transition: background 1s linear 0s;
}
.header .view .fadeelement {
/*  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220,220,220,.9), to(rgba(220,220,220,.9))));
  background: -moz-linear-gradient(center top , rgba(220,220,220,.9), rgba(220,220,220,.9));
  background: linear-gradient(center top , rgba(220,220,220,.9), rgba(220,220,220,.9));
  background: rgba(220,220,220,.9);*/
  transition: background 1s linear 0s;
}
.header .alll.view.active .fadeelement {
  background: -webkit-gradient(linear, left top, left bottom, from($allview), to($allview));
  background: -moz-linear-gradient(center top , $allview, $allview);
  background: linear-gradient(center top , $allview, $allview);
  background: $allview;
  transition: background 1s linear 0s;
}
.all.view.active .fadeelement {
 transition: background 1s linear 0s;
}
.all .view .thumbnail {
  outline: 0px solid rgba(0, 224, 241, 0.8);
  background-color: rgba(250, 250, 250, 0.1);
  padding: 0;
}
.dd {
  padding: 2px 7px;
}
.cc {
  padding: 2px 7px;
}
.photo .thumbnail {
  border: 0 none;
  padding: 0px;
}
#content .hoverinfo li {
  color: rgba(255, 255, 255, 0.8);
  font-family: monospace;
}
.slider {
  margin: 14px 10px;
  position: absolute;
  left: 10px;
  width: 150px;
  z-index: 1;
}
.slider .ui-slider-handle {
  border-radius: 11px;
  padding: 0;
}
.ui-widget {
  font-size: 1em;
}
.ui-icon.right {
  margin-left: 5px;
  margin-top: 5px;
}
.ui-dimmed {
  opacity: 0.3;
}
#views.settings div.view > div {
  /*margin: 15px;*/
}

label.dropzone {
  display: table;
  margin: 0 auto;
}
label.dropzone span {
  display: table-cell;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
}
label {
  background-color: none;
  text-align: left;
  float: none;
  width: auto;
}
.container label.label {
  background: none;
  color: #151515;
}
button.active.dark {
  color: #eeeeee;
  border: 1px solid #888888;
}
.dark.btn-label {
  margin: 02px;
  font-size: 1rem;
}
button.chromeless, button.chromeless:hover {
  background: -moz-linear-gradient(center center , #999999, #222222) repeat scroll 2px 0 transparent;
  border: 1px solid #888888;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0;
  color: #FFFFFF;
  float: right;
  font: 9px/12px sans-serif;
  padding: 1px 5px;
  position: relative;
}
.item .container {
  position: relativ;
}
#slideshow .thumbnail {
  cursor: pointer;
}
.glyphicon-set [class^="glyphicon-"], .glyphicon-set  [class*=" glyphicon-"] {
}
[class*=" glyphicon-"], [class^="glyphicon-"] {
  /*line-height: inherit;*/
}
.glyphicon-set a {
  
}
.downloading {
  padding: 0 10px 0 0;
}
.ignored .glyphicon-eye:before {
  content: "\e106";
}
.glyphicon-eye:before {
  content: "\e105";
}
.glyphicon-folder-close:hover:before {
  content: "\e118";
}
.select:after, .deselect:after {
  content: "ausgewählt";
}
.select:hover:after {
  content: "Alles auswählen";
}
.deselect:hover:after {
  content: "Auswahl aufheben";
}
[class^="opt-Select"] {
  min-width: 140px;
}
fieldset .btn:hover {
  border-color: inherit;
  color: inherit;
}
.error.glyphicon-download-alt:before {
  content: "\e101";
  color: red;
}
.loading .glyphicon-loading {
  background: url("/img/ajax-loader-spinner.gif") repeat scroll 0 0 transparent;
}
.loading .out {
  opacity: 1;
}
.easter {
  font-weight: normal;
  font-family: "HappyEaster", serif;
}
.chopin {
  font-weight: normal;
  font-family: "ChopinScript", serif;
}
.add .breadcrumb.main {
  padding-right: 260px;
  padding-left: 10px;
}
.add .breadcrumb:not(.move) .action {
  display: none;
}
.move {
  -webkit-transition: top 0.3s ease-out 0.3s;
     -moz-transition: top 0.3s ease-out 0.3s;
       -o-transition: top 0.3s ease-out 0.3s;
          transition: top 0.3s ease-out 0.3s;
}
.movefromright {
  padding-right: 0;
  transition: padding-right 0.3s ease-out 0.3s;
}
.up {
  top: -50px
}
.z0 {
  z-index: 0;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.rel {
  position: relative;
}
[class^="glyphicon-"].active, [class*=" glyphicon-"].active {
  cursor: auto;
}
.anim-link {
  font-family: 'Helvetica Neue',Helvetica,'Arial CE',Arial,sans-serif;
  text-shadow: 0 1px 0 rgb(43, 30, 30);
}
a.anim-link:hover {
  text-decoration: none;
  color: rgba(188, 35, 40, 0.9);
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
a.anim-link {
  color: rgba(194, 194, 194, 0.7)
  text-decoration: underline;
}
a.opt-ShowProducts {
  text-decoration: underline;
}
.glyphicon-play {
}
section.addAction {
  position: absolute;
  bottom: 50px;
  right: -250px
}
.modal-dialog .glyphicon-set {
  display: none;
}
[class^="bg-"] {
  color: #ddd;
}
.dropdown-menu li a:after {
    padding-right: 15px;
    position: relative;
}
.dropdown-menu span.label.label {
    position: absolute;
    right: 20px;
    line-height: 1.4em;
}
.viewheader .btn:active, .btn.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 1px inset rgb(134, 134, 134);
}
.viewheader .btn {
    border: 0 none;
    outline: rgb(134, 134, 134);
    display: block;
}
.viewheader h3, .viewheader h4, .viewheader h5 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.away {
  top: -100000px !important;
  left: -100000px !important;
}
.fadeslow {
  opacity: 0;
  -webkit-transition: opacity 0.55s linear;
  transition: opacity 0.45s linear;
}
.fadeslow.in {
  opacity: 1;
  transition: opacity 0.45s linear;
}
.drag-in-progress .active[draggable] {
  opacity: 0.3;
}
.sortable-dragging {
  background: inherit;
}
.input-group {
  margin: 8px 17px;
}
.over, li.over:not(.view) {
/*  background-color: rgba(50, 250, 50, 0.7) !important;*/
/*  color: rgba(40, 40, 40, 0.9) !important;*/
/*  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33) !important;*/
  border: 2px solid gold !important;
  opacity: 1;
  transition: opacity .2s;
}
.over.nodrop, li.over.nodrop:not(.view) {
  border: 2px solid rgb(255, 88, 77) !important;
  transition: color 0.3s;
}
.over li {
/*  background-color: inherit !important;*/
  border-color: transparent !important;
  opacity: 1;
  transition: opacity .2s;
/*  color: inherit !important;*/
/*  text-shadow: inherit !important;*/
}
.editor {
}
.editor.up {
  display: none;
}
.nopad {
  padding: 0 !important;
}
.data.items:not(.nopad), li.data {
  border: 2px solid transparent;
}
.noborder {
  border: 0 none !important;
}
.go-up {
  background: url("/img/sprite_black2.png") 0 -42px;
  height: 15px;
  width: 22px;
}
.bs {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  
  background: linear-gradient(top, #e3e3e3, #f9f9f9);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f9f9f9));
  background: -moz-linear-gradient(center top , #00e3e3, #09f9f9);
}
.puls {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -ms-animation: pulsate 2s ease-out;
  -ms-animation-iteration-count: infinite;
  -moz-animation: pulsate 2s ease-out;
  -moz-animation-iteration-count: infinite;
  -o-animation: pulsate 2s ease-out;
  -o-animation-iteration-count: infinite;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  z-index: 999;
}
.puls.azur {
  color: $dark-grey !important;
  background: $azur-blue !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) !important;
}
.puls.fire {
  color: $white-grey !important;
  background: rgba(255, 0, 0, 0.5) !important;
  text-shadow: 0px 1px 0 rgba(255, 249, 247, 0.7) !important;
}
.lehmann {
  font-size: 4em;
  text-shadow: 5px 3px 8px rgba(0,0,0,0.5);
  color: #ccc7c7;
  z-index: 1000;
  display: inline-table;
  display: -moz-inline-box;
  line-height: 1.5em;
  position: relative;
  top: 9px;
  padding-left: 20px;
}
.btn-dark {
  color: #ddd;
  background-color: #424548;
  border-color: #323538;
}
.btn-dark:hover {
  color: #ddd;
  background-color: #323235;
  border-color: #323538;
}
.btn-dark:active {
  color: #ddd;
  background-color: #021a25;
  border-color: #323538;
  background-image: none;
}
.btn-dark:active:focus {
  color: #ddd;
  background-color: #212122;
  border-color: #223528;
}
fieldset.scheduler-border {
  border: 1px solid !important;
  padding: 10px !important;
  margin: 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
  }

legend.scheduler-border {
  font-size: 0.8em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  margin:0;
  border-bottom:none;
  color: inherit;
}
.header fieldset.scheduler-border {
  position: absolute;
  right: 10px;
  top: 0;
  min-width: 255px;
  height: 80px;
}
fieldset .selection-title.active {
  color: #39f;
}
fieldset .selection-title {
  padding: 10px;
  font-size: 1rem;
}
.selection-title .glyphicon {
  font-size: 2.5rem;
  padding: 0px;
  line-height: 1em;
}
.selection-title span {
  line-height: 1em;
  height: 100%;
  padding-left: 17px;
  width: 200px;
  float: right;
}
.header .glyphicon+span {
  padding-left: 7px;
}
.sidebar i.clear-search {
  position: absolute;
  right: 10px;
  top: 24%;
  font-size: 2em;
  color: grey;
  opacity: .6;
}
.feature-list:before {
  content: "\e87a";
  font-family: 'linearicons';
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.75em 0 0;
}
a.feature-list {
  text-decoration: underline;
}
body.cat li.parent.preview {
  background: url("/img/home_creative.jpg") -700px -300px;
}
body.cat.outdoor li.parent.preview {
  background: url("/img/outdoor_creative.jpg") -497px -265px;
}
body.cat.specials li.parent.preview {
  background: url("/img/specials_creative.jpg") -700px -100px;
}
body.cat.fitness li.parent.preview {
  background: url("/img/fitness_creative.jpg") -497px -365px;
}
body.cat.tools li.parent.preview {
  background: url("/img/tools_creative.jpg") -497px -365px;
}
@-webkit-keyframes pulsate {
    from {
      opacity: 0.5;
    }
    50% {
      opacity: 1.0;
    }
    to {
      opacity: 0.5;
    }
}
@-moz-keyframes pulsate {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      opacity: 0.5;
    }
}
@-ms-keyframes pulsate {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      opacity: 0.5;
    }
}
@-o-keyframes pulsate {
    0% {
      opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
      opacity: 0.5;
    }
}
@keyframes pulsate {
    from {
      opacity: 0.5;
    }
    50% {
      opacity: 1.0;
    }
    to {
      opacity: 0.5;
    }
}
