@font-face {
  font-family: 'Flaticon';
  src:  url('fonts/Flaticon.eot?jawgpw');
  src:  url('fonts/Flaticon.eot?jawgpw#iefix') format('embedded-opentype'),
    url('fonts/Flaticon.ttf?jawgpw') format('truetype'),
    url('fonts/Flaticon.woff?jawgpw') format('woff'),
    url('fonts/Flaticon.svg?jawgpw#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.flaticon-knife:before {
  content: "\e901";
}
.flaticon-fitness_center:before {
  content: "\e900";
}
.flaticon-wrench:before {
  content: "\e991";
}
.flaticon-hammer:before {
  content: "\e996";
}
.flaticon-accessibility:before {
  content: "\e9b2";
}
.flaticon-home-3:before {
  content: "\e902";
}
.flaticon-pepper-spray:before {
  content: "\e903";
}
.flaticon-menu:before {
  content: "\e9bd";
}
.flaticon-menu-2:before {
  content: "\e9be";
}
.flaticon-menu-3:before {
  content: "\e9bf";
}
.flaticon-menu-4:before {
  content: "\e9c0";
}
.flaticon-hiking-up-1:before {
  content: "\f104";
}
.flaticon-hiking-up-2:before {
  content: "\f105";
}
.flaticon-hiking-up-3:before {
  content: "\f108";
}
.flaticon-sale-1:before {
  content: "\f10a";
}
.flaticon-sales-label-1:before {
  content: "\f10b";
}
.flaticon-sales-label-3:before {
  content: "\f10c";
}