
*:not(.swiper) > .swiper-pagination, *:not(.swiper) > [class*="swiper-button-"] {
  display: none;
}
.swiper .swiper-wrapper {
  margin-bottom: 5px;
}
.swiper-slide:nth-child(n+2) img.load {
  display: none;
}